<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantillaAyudasEducativasUsuario :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body style="background-color: #212226">
                    <header th:replace="layout/plantillaAyudasEducativasUsuario :: header">

                    </header>
                    
                    

                    <div style="justify-content: center; display: flex" >

                        <div style="justify-content: center; display: flex; padding-top: 7%;" class="btn-group-vertical">
                            <br>
                                <form th:action="@{/registroAyuda/guardar}" th:object="${ayudas}" method="POST" class="was-validated"
                              enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Tipo de ayuda</label>
                                        <input name="id_tipo_ayuda" type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <!--<label for="formGroupExampleInput" style="color: white">Tipo de ayuda</label>
                                    <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Comida</a>
                                      <a class="dropdown-item" href="#">Ropa</a>
                                      <a class="dropdown-item" href="#">Materiales de construcción</a>
                                    </div>
                                  </div>-->
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Modalidad</label>
                                        <input name="id_modalidad" type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Dirección</label>
                                        <input name="ubicacion" type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>   
                                    <div class="form-group">
                                        <label style="color: white">Fecha de entrega</label>
                                        <br>
                                        <input name="fecha" type="text" class="form-control" id="formGroupExampleInput" aria-describedby="emailHelp">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Nombre institución</label>
                                        <input name="id_usuario" type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: white">Cédula Jurídica</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput">
                                    </div>
   
                                    <br>
                                    <br>  
                                    <button type="button" style="background-color: #15CDCB;" class="btn btn-primary btn-lg" >Registrar</button>
                                </form>
                               
                                <br>
                                    </div>
                                    </div>

                                    </body>
                                    </html>
